[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://${TEST_USER}:${TEST_PASS}@test.pypi.org/simple"
verify_ssl = true
name = "testindex"

[packages]
requests = {version = "*"}
example-package-m3h = {version = "*", index = "testindex"}

[dev-packages]

[requires]
python_version = "3.8"
